{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>About</title>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <style>
        body {background:  url({% static  '../static/image/emblem.jpg'%}); }
    </style>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-dark navbar-light">
          <a class="navbar-brand" href="#">
            <img src="../static/image/phone.png" alt="Phonebook" style="width:40px;">
          </a>
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'about' %}"> About </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'registration' %}"> Registration </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}"> Login </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'view' %}"> View profile </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'phonebook' %}"> Main </a></li>
        </ul>
        </nav>
      </div>
    <div id="emblem">
        <h1> Phonebook </h1>
            <div class="block">
                <h2> The application allows you to add, edit and delete a subscriber and his list of phone numbers, sort by data </h2>
            </div>
    </div>
</body>
</html>