<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
   <link rel="stylesheet" href="../static/main.css">
    <title> View profile </title>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-sm bg-dark navbar-light">
      <a class="navbar-brand" href="#">
          <img src="../static/image/phone.png" alt="Phonebook" style="width:40px;">
      </a>
      <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'about' %}"> About </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'registration' %}"> Registration </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}"> Login </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'view' %}"> View profile </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'phonebook' %}"> Main </a></li>
    </ul>
    </nav>
      {% block content %}
  </div>
    <h1 align="center"> View profile </h1>
    <div class="table-responsive-md">
    <table class="table table-sm caption-top">
        <thead>
          <tr>
            <th scope="col"  class="col3">№</th>
            <th scope="col" class="col1">Name</th>
            <th scope="col"  class="col1">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td >Name</td>
            <td class="name">{{ fields.user_name }}</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Email</td>
            <td class="email">{{ fields.user_email }}</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Password</td>
            <td class="password">{{ fields.user_password }}</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Sex</td>
            <td class="gender">{{ fields.user_gender }}</td>
          </tr>
          <tr>
            <th>5</th>
            <td>Date of birth</td>
            <td class="birth">{{ fields.user_birthday }}</td>
          </tr>
        </tbody>
      </table>
      </div>
{% endblock %}
</body>
</html>